.HomeRun{
    padding: 128px;

    background: #FFFFFF;
}
.HomeRun__Heading{
    font-size: 96px;
    font-weight: 700;

    color: var(--ColorDark);
}
.HomeRun__Date{
    margin-top: 16px;
    font-size: 48px;
    font-weight: 300;

}

@media (min-width: 1024px) {
    .HomeRun__Heading{
        font-size: 64px;
    }
    .HomeRun__Date {
        font-size: 32px;
    }
}
@media (min-width: 1190px) {
    .HomeRun{
        padding: 64px;
    }
}
@media (min-width: 1366px) {
    .HomeRun{
        padding: 128px;
    }
}