.HomeRun{
    scroll-snap-align: center;
    background: #FFFFFF;
}

.HomeRun__Heading{
    color: var(--ColorDark);

}

.HomeRun__Heading_unload{
    font-size: 128px;
}

.HomeRun__Image{
    top: 380px;
    left: 50%;
    transform: translate(-50%);

    width: 80%;
    height: auto;

}
@media (min-width: 1024px) {
    .HomeRun__Content{
        flex-direction: row-reverse;
    }
    .HomeRun__Heading_unload{
        font-size: 128px;
    }
    .HomeRun__Image{
        height: 50%;
        width: auto;
    }
}