:root{
    --Background: url("images/BackgroundPattern.png") #27262A;

    --ColorLight: #F6FBFF;
    --ColorDark: #27262A;
    --ColorTennisBall: #D5F450;

    --FontFamily: Raleway, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--FontFamily);

    scrollbar-gutter: stable;
}
.Content{
    height: 100dvh;

    scrollbar-gutter: stable;

    overflow-y: scroll;
    scroll-snap-type: y proximity;

    /*Firefox scroll-bar*/
    scrollbar-width: thin;
    scrollbar-color: var(--ColorTennisBall) transparent;

}
::-webkit-scrollbar{
    width: 8px;

    transition: width 250ms ease-in;
}

::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background: var(--ColorTennisBall);
}
::-webkit-scrollbar-track{
    background: var(--ColorDark);
}
.Background{
    background: var(--Background);
    background-blend-mode: screen, normal;
    background-size: 100dvh;

}
.Background_Unloaded{
    height: 100dvh;
    overflow: hidden;
}
.PreLoader{
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 998;
    background: #27262A;
}
.PreLoader_Loaded{
    opacity: 0;
    display: none;
    animation: loaderFadeOut 1s ease-out;
}
@keyframes loaderFadeOut {
    from{
        opacity: 1;
        display: block;
    }

    to{
        opacity: 0;
        display: none;
    }

}