.TrackList{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;
}

.TrackList__Heading{
    font-size: 48px;
    font-weight: 500;
}
.TrackList__TrackWrapper{

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;
}
.TrackList__Track{
    font-size: 32px;
    font-weight: 400;

    text-align: center;
}
.TrackList__Track_favorite_homerun{
    text-shadow: 0 4px 12px var(--ColorDark);
}

.Link{
    font-size: 32px;
    font-weight: 500;
}
.HomeRun_Link, .HomeRun_Link:visited{
    color: var(--ColorDark);
}

@media (min-width: 1024px) {
    .TrackList__Heading {
        font-size: 24px;
    }
    .TrackList__Track {
        font-size: 16px;
    }
    .Link{
        font-size: 16px;
    }
    .TrackList__TrackWrapper{
        gap: 16px;
    }
}
@media (min-width: 1190px) {
    .TrackList__Heading {
        font-size: 32px;
    }
    .TrackList__Track {
        font-size: 24px;
    }
    .Link{
        font-size: 24px;
    }
    .TrackList__TrackWrapper{
        gap: 16px;
    }
}