.Bio{
    position: relative;
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Bio__Heading{
    font-size: 52px;
    font-weight: 700;

    color: var(--ColorLight);
}
.Bio__Heading_shadow_active{
    text-shadow: 1px 1px 0 var(--ColorTennisBall);
}

.Bio__Text{
    font-size: 32px;
    font-weight: 400;

    color: var(--ColorLight);

    transition: opacity 250ms ease-in;
}
.Bio__Text:not(:last-child){
    margin-top: 32px;
}
.Bio__Text_hidden{
    opacity: 0;
}

.Bio_Paragraph{
    display: inline-block;
    margin: 8px 0;

    transition: color 250ms ease-in;
}
.Bio_Paragraph:hover{
    color: var(--ColorTennisBall);
}

.Bio__Image{
    margin: 16px 0;

    width: 90vw;

    transition: width 250ms ease-in;
}
.Bio__Image_hidden{
    width: 100vw;
}
@media (min-width: 1024px) {
    .Bio__Text{
        font-size: 24px;
    }
    .Bio__Image{
        width: 25vw;
    }

}

@media (min-width: 726px) {
    .Bio{
        padding: 32px 128px;
        justify-content: start;
    }
    .Bio__Image{
        width: 50vw;
    }

}